*{
  color:black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root{
  --white:#FFFFFF;
  --black:#000000;
  --grey-beige:#F2F2F2;
  --grey-1:rgba(63, 63, 64, 0.9);
  --grey-2:rgba(63, 63, 64, 1);


}

body{
  background-color: var(--grey-beige);
}

input:not([type="file"]),select{
  padding-left: 6px;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.tool {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  /* flex-wrap: nowrap; */
  padding: 2rem;
  width: 100vw;
}


/* General */
.box{
  padding: 1.5rem;
  border-radius: 0.2rem;
  background-color: var(--white);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 2px 0px;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

.flex-column{
  flex-direction: column;
}

.flex-gap{
  gap:1rem
}

.sticky {
  position: sticky;
  top: 0; /* Ajusta la posición según sea necesario */
  z-index: 1; /* Puedes ajustar el valor de z-index según sea necesario */
  /* background-color: #fff; */
   /* Fondo blanco para que resalte */
  /* Añade otros estilos según tus preferencias */
}

/* Form Box */
.formBox{
  display: grid;
  gap: 0.2rem;
  max-width: 350px;
}

.formBox select, .formBox input{
  margin-bottom: 0.4rem;
  min-width:none ;
  max-width: 250px;
}

.formBox div{
  display: grid;
  margin-top: 0.4rem;
  gap: 0.4rem;
  grid-template-columns: repeat(2,minmax(0,0.5fr));
}

.formBox h3{
  margin-bottom: 0.5rem;
}

