.matchTable{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
}

/* TABLE OPTIONS */
.tableOptions{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.tableOptions>.control{
    display: flex;
    gap: .5rem;
}

.tableOptions>.control>input{
    display: flex;
    border: 1px solid var(--grey-beige);
}

.tableOptions>.information{
    display: flex;
    /* gap: 0.4rem; */
}

.tableOptions span{
    padding: 0.5rem;
    border: 1px solid var(--grey-beige);
}

.tableOptions>.options{
    display: flex;

}

/* .tableOptions>.option>button{
} */

.tableOptions>.options>button{
    padding: 0.5rem;
    background: none;
	color: inherit;
	border: 1px solid var(--grey-beige);
	font: inherit;
	cursor: pointer;
	outline: inherit;

}

.tableOptions>.options>button:first-child:hover{
    background-color: rgb(110, 221, 110);
}

.tableOptions>.options>button:last-child:hover{
    background-color: rgb(255, 128, 128);
}

/* TABLE CONTAINER */
.tableContainer{
    overflow: scroll;
    max-width: 86vw;
}

.table{
    border-collapse: collapse;
    width: 100%;
    overflow: scroll;
}

.table>thead{
    margin-bottom: 0.5rem;
}

.table>tbody> tr:hover{
    background-color: var(--grey-beige);
}

.table>tbody>tr.updateOk{
    border: 2px solid rgb(110, 221, 110);
}

.table>tbody>tr.updateFailed{
    border: 2px solid red;
}


.table>thead> tr,.table tbody tr{
    border-bottom: 1px solid var(--grey-beige);
    text-align: left;
}

.table td,.table th{
    padding: 0.5rem;
    text-overflow: ellipsis;
}

.table td:last-child,.table th:last-child{
    text-align: right;
    border-left: 1px solid var(--grey-beige);
}

.table>tbody> tr >td.warning{
    border: 2px solid red; 
    color: red;
}

.table>tbody>tr>td.final{
    text-decoration-line:underline;
}

.table>tbody>tr>td.final:hover{
    cursor: pointer;
    font-weight: 500;
}

.table>tbody>tr>td.delete{
    /* border-right: 1px solid var(--grey-beige); */
    text-align: center;
}

.table>tbody>tr>td.delete:hover{
    background-color: rgb(255, 128, 128);
    cursor: pointer;
}

.main{
    padding-bottom: 2px;
    border-bottom: 2rem  double var(--grey-beige);
}

.row{
    border-bottom: 2px solid red;
}
